body{

	margin:0;	padding:0;

	}

	

.content {

	top: 30px;

	z-index:4;

	color: black;	

	position : absolute;

	}

 .navbar {

  z-index: 1;

  overflow: hidden;

  background-color: black;

  position: fixed;

  top: 0;

  width: 100%;

  opacity: 85%;

  

}

.navbar a {

  float: left;

  display: block;

  color: white;

  text-align: center;

  padding: 14px 16px;

  text-decoration: none;

  font-size: 17px;

}

.navbar a:hover {

  background-color: deepskyblue;
border-radius:20%;
  color: white;

}

.background {

	   display:grid;

	    place-items:center center ;

	    position: fixed;

        top: 50%;

        left: 50%;

        margin-right: -50%;

        transform: translate(-50%, -50%)

		

	

  }

	

.bgcircle{

	

	z-index: -3;

    height: 1900px;

	width: 1900px;

    background: repeating-conic-gradient(aqua 0deg  10deg ,DeepSkyBlue 10deg 20deg) ;

	border-radius: 100%;

	animation: spin 10s infinite linear ;

	position :fixed;	

	   

}

.bgcircle2 {

	

	z-index:-2;

	height: 350px;

    width: 350px;

    background-image: linear-gradient(to bottom right, deepskyblue, aqua);

    border-radius: 100%;

	color: white;	

    align-items: center;

    justify-content: center;	

	position: absolute;

	

}

.bgcircle3 {

	

	z-index:-1;

	height: 440px;

    width: 440px;

    background-color: aquamarine;

    border-radius: 100%;	

    align-items: center;

    justify-content: center;

	position: absolute;

	opacity:25%;

}

.front-name{

	z-index:3;

	color: white;

	font-family: 'MuseoModerno', cursive;

	font-size:35px;

	text-align:center;

	position :absolute;

    

	}

	

@keyframes spin {

  from{transform:rotate(0deg)}

	to{transform:rotate(360deg)}	

}
