body {
  background-image: url('images/bg_html1.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  }
.v1 {
     padding:0px 0px 0px 0px;
     display: inline-block;
     border: 2px solid white;
     webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     border-radius: 20px;
     width:280px;
     height:158px;
     margin-right:9px ;
     margin-bottom: 9px;
     overflow:hidden; 
     position: fixed; 
     opacity: 0.8;
  }
                
        

