body {
  background-image: url('images/bg_html1.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-position: center;
  }
.v1 {
     
     display: inline-block;
     border: 10px solid white;
     webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     border-radius: 20px;
     width:565px;
     height:307px;
    
     

     
     
     overflow:hidden; 
     position:  relative;


     opacity: 0.9;
  }
h1 {
  color:white;
  text-shadow: 0 0 3px black, 0 0 5px white;
  }
                
     

