body {
  background-image: url('images/bg_html1.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-position: center;
  }
.v1 {
     
     display: inline-block;
     border: 10px solid white;
     webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     border-radius: 20px;
     width:926px;
     height:430px;
     margin-top: 0;
     margin-right:0 ;
     margin-bottom: 0;
     margin-left: 0;
    
     overflow:hidden; 
     position:  relative;
     left: 0;
     bottom: 0;
     z-index: 2;
     opacity: 0.8;
  }
h1 {
  position: absolute;
  z-index: -1;
  }
                
        

