body {
  background-image: url('images/bg_html1.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  }
.v1 {
     padding:0px 0px 0px 0px;
     display: inline-block;
     border: 10px solid white;
     webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     border-radius: 20px;
     width:1920px;
     height:1088px;
     margin-right:9px ;
     margin-bottom: 9px;
     overflow:hidden; 
     position:  absolute;
     z-index: 2;
     opacity: 0.8;
  }
h1 {
  position: absolute;
  z-index: -1;
  }
                
        

